<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tri-angle</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/circle">Circle Calculator</a></li>
                <li><a href="/triangle">Triangle Calculator</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
        <h2>TriangleCalculation</h2>
        <form action="/triangle" method="POST">
        <div>
            <label for="base">Base:</label>
            <input type="number" name="base" id="base">
        </div> <br>
        <div>
            <label for="height">Height:</label>
            <input type="number" name="height" id="height">
        </div> <br>
        <button type="submit">Calculate</button>
       </form>
       </div>
    </main>
    </main>
</body>
</html>